/* ==== CREAR / USAR BASE DE DATOS ==== */

USE master;
GO

IF DB_ID('Creacion') IS NULL
BEGIN
    CREATE DATABASE Creacion;
END;
GO

USE Creacion;
GO

/* ==== TABLA Categoria ==== */

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

IF OBJECT_ID('Categoria') IS NOT NULL DROP TABLE Categoria;
GO

CREATE TABLE dbo.Categoria(
    IdCategoria        int IDENTITY(1,1) NOT NULL,
    Nombre             varchar(150) NOT NULL,
    Descripcion        varchar(500) NULL,
    ImagenPortadaUrl   varchar(500) NULL,
    Activo             bit NOT NULL CONSTRAINT DF_Categoria_Activo DEFAULT(1),
    FechaCreacion      datetime NOT NULL CONSTRAINT DF_Categoria_FechaCreacion DEFAULT(GETDATE()),
    CONSTRAINT PK_Categoria PRIMARY KEY CLUSTERED (IdCategoria ASC)
);
GO

/* ==== TABLA Rol ==== */

IF OBJECT_ID('Rol') IS NOT NULL DROP TABLE Rol;
GO

CREATE TABLE dbo.Rol(
    IdRol             smallint NOT NULL,
    Nombre            varchar(50) NOT NULL,
    Descripcion       varchar(300) NULL,
    NivelAcceso       smallint NOT NULL CONSTRAINT DF_Rol_NivelAcceso DEFAULT(1),
    AdministrarCursos bit NOT NULL CONSTRAINT DF_Rol_Admin DEFAULT(0),
    GestionarUsuarios bit NOT NULL CONSTRAINT DF_Rol_Gestion DEFAULT(0),
    CorregirEvaluaciones bit NOT NULL CONSTRAINT DF_Rol_Corregir DEFAULT(0),
    VerReportes       bit NOT NULL CONSTRAINT DF_Rol_Reportes DEFAULT(0),
    CONSTRAINT PK_Rol PRIMARY KEY CLUSTERED (IdRol ASC),
    CONSTRAINT UQ_Rol_Nombre UNIQUE (Nombre)
);
GO

/* ==== TABLA Usuario ==== */

IF OBJECT_ID('Usuario') IS NOT NULL DROP TABLE Usuario;
GO

CREATE TABLE dbo.Usuario(
    IdUsuario        int IDENTITY(1,1) NOT NULL,
    IdRol            smallint NOT NULL,
    Nombre           varchar(120) NOT NULL,
    Apellido         varchar(120) NOT NULL,
    Email            varchar(255) NOT NULL,
    [Contraseña]     varchar(255) NULL,
    FotoPerfil       varchar(500) NULL,
    Documento        varchar(20) NULL,
    Telefono         varchar(30) NULL,
    Ciudad           varchar(80) NULL,
    Pais             varchar(80) NULL,
    FechaNacimiento  date NULL,
    Activo           bit NOT NULL CONSTRAINT DF_Usuario_Activo DEFAULT(1),
    CONSTRAINT PK_Usuario PRIMARY KEY CLUSTERED (IdUsuario ASC),
    CONSTRAINT UQ_Usuario_Email UNIQUE (Email)
);
GO

/* ==== TABLA Docente ==== */

IF OBJECT_ID('Docente') IS NOT NULL DROP TABLE Docente;
GO

CREATE TABLE dbo.Docente(
    IdDocente      int IDENTITY(1,1) NOT NULL,
    IdUsuario      int NOT NULL,
    Biografia      varchar(1000) NULL,
    Especialidad   varchar(200) NULL,
    ExperienciaAnos int NULL,
    CONSTRAINT PK_Docente PRIMARY KEY CLUSTERED (IdDocente ASC)
);
GO

/* ==== TABLA Estado ==== */

IF OBJECT_ID('Estado') IS NOT NULL DROP TABLE Estado;
GO

CREATE TABLE dbo.Estado(
    IdEstado     int IDENTITY(1,1) NOT NULL,
    Tipo         varchar(30) NOT NULL,
    Situacion    varchar(30) NOT NULL,
    Descripcion  varchar(100) NULL,
    CONSTRAINT PK_Estado PRIMARY KEY CLUSTERED (IdEstado ASC)
);
GO

/* ==== TABLA Curso ==== */

IF OBJECT_ID('Curso') IS NOT NULL DROP TABLE Curso;
GO

CREATE TABLE dbo.Curso(
    IdCurso                int IDENTITY(1,1) NOT NULL,
    Codigo                 varchar(30) NULL,
    Titulo                 varchar(255) NOT NULL,
    Descripcion            text NULL,
    Objetivos              text NULL,
    Nivel                  varchar(20) NOT NULL,
    Idioma                 varchar(30) NOT NULL,
    RequisitosPrevios      text NULL,
    DuracionHoras          int NULL,
    FechaInicio            date NOT NULL,
    FechaFin               date NOT NULL,
    Modalidad              varchar(20) NOT NULL,
    CupoMaximo             int NULL,
    Precio                 decimal(10, 2) NOT NULL,
    Moneda                 char(3) NOT NULL,
    RequierePago           bit NOT NULL CONSTRAINT DF_Curso_RequierePago DEFAULT(0),
    Publicado              bit NOT NULL CONSTRAINT DF_Curso_Publicado DEFAULT(0),
    ImagenPortadaUrl       varchar(500) NULL,
    CertificadoDisponible  bit NOT NULL CONSTRAINT DF_Curso_Certificado DEFAULT(0),
    IdCategoria            int NOT NULL,
    CONSTRAINT PK_Curso PRIMARY KEY CLUSTERED (IdCurso ASC)
);
GO

/* ==== TABLA Modulo ==== */

IF OBJECT_ID('Modulo') IS NOT NULL DROP TABLE Modulo;
GO

CREATE TABLE dbo.Modulo(
    IdModulo   int IDENTITY(1,1) NOT NULL,
    IdCurso    int NOT NULL,
    Titulo     varchar(255) NOT NULL,
    Orden      smallint NOT NULL,
    Resumen    varchar(500) NULL,
    Objetivos  text NULL,
    CONSTRAINT PK_Modulo PRIMARY KEY CLUSTERED (IdModulo ASC)
);
GO

/* ==== TABLA Clase ==== */

IF OBJECT_ID('Clase') IS NOT NULL DROP TABLE Clase;
GO

CREATE TABLE dbo.Clase(
    IdClase                  int IDENTITY(1,1) NOT NULL,
    IdModulo                 int NOT NULL,
    Titulo                   varchar(255) NOT NULL,
    Orden                    smallint NOT NULL,
    TipoContenido            varchar(30) NOT NULL,
    DuracionMin              int NULL,
    RecursoUrl               varchar(500) NULL,
    MaterialDescargableUrl   varchar(500) NULL,
    FechaPublicacion         datetime NULL,
    EsEvaluable              bit NOT NULL CONSTRAINT DF_Clase_EsEvaluable DEFAULT(0),
    RequiereAprobacionPrevia bit NOT NULL CONSTRAINT DF_Clase_ReqAprob DEFAULT(0),
    CONSTRAINT PK_Clase PRIMARY KEY CLUSTERED (IdClase ASC)
);
GO

/* ==== TABLA Evaluacion ==== */

IF OBJECT_ID('Evaluacion') IS NOT NULL DROP TABLE Evaluacion;
GO

CREATE TABLE dbo.Evaluacion(
    IdEvaluacion       int IDENTITY(1,1) NOT NULL,
    IdUsuario          int NOT NULL,
    IdClase            int NOT NULL,
    Tipo               varchar(30) NOT NULL,
    TituloEvaluacion   varchar(255) NOT NULL,
    Descripcion        text NULL,
    PuntajeMax         float NOT NULL CONSTRAINT DF_Eval_PuntajeMax DEFAULT(10),
    PuntajeObtenido    float NULL,
    PuntajeAprob       float NOT NULL CONSTRAINT DF_Eval_PuntajeAprob DEFAULT(6),
    Aprobado           bit NULL,
    FechaRealizacion   datetime NULL,
    TiempoEmpleadoMin  int NULL,
    Observaciones      text NULL,
    Intentos           smallint NULL CONSTRAINT DF_Eval_Intentos DEFAULT(1),
    EstadoEvaluacion   varchar(20) NOT NULL,
    CalificadoPor      int NULL,
    CONSTRAINT PK_Evaluacion PRIMARY KEY CLUSTERED (IdEvaluacion ASC)
);
GO

/* ==== TABLA Inscripcion ==== */

IF OBJECT_ID('Inscripcion') IS NOT NULL DROP TABLE Inscripcion;
GO

CREATE TABLE dbo.Inscripcion(
    IdInscripcion    int IDENTITY(1,1) NOT NULL,
    IdUsuario        int NOT NULL,
    IdCurso          int NOT NULL,
    IdEstado         int NOT NULL,
    Bloqueado        bit NOT NULL CONSTRAINT DF_Inscripcion_Bloqueado DEFAULT(0),
    FechaInscripcion datetime NULL,
    Origen           varchar(20) NOT NULL,
    Observaciones    varchar(300) NULL,
    FechaFinAcceso   date NULL,
    CertificadoUrl   varchar(500) NULL,
    CONSTRAINT PK_Inscripcion PRIMARY KEY CLUSTERED (IdInscripcion ASC)
);
GO

/* ==== TABLA Pago ==== */

IF OBJECT_ID('Pago') IS NOT NULL DROP TABLE Pago;
GO

CREATE TABLE dbo.Pago(
    IdPago            int IDENTITY(1,1) NOT NULL,
    IdInscripcion     int NOT NULL,
    IdEstado          int NOT NULL,
    FechaPago         datetime NOT NULL CONSTRAINT DF_Pago_Fecha DEFAULT(GETDATE()),
    Monto             decimal(10,2) NOT NULL,
    Moneda            char(3) NOT NULL,
    MedioPago         varchar(50) NOT NULL,
    CodigoTransaccion varchar(100) NULL,
    Aprobado          bit NOT NULL CONSTRAINT DF_Pago_Aprobado DEFAULT(0),
    CONSTRAINT PK_Pago PRIMARY KEY CLUSTERED (IdPago ASC)
);
GO

/* ==== TABLA Progreso ==== */

IF OBJECT_ID('Progreso') IS NOT NULL DROP TABLE Progreso;
GO

CREATE TABLE dbo.Progreso(
    IdUsuario           int NOT NULL,
    IdCurso             int NOT NULL,
    ClasesCompletadas   int NOT NULL CONSTRAINT DF_Prog_ClasesComp DEFAULT(0),
    TotalClases         int NOT NULL CONSTRAINT DF_Prog_TotalClases DEFAULT(0),
    Porcentaje          int NOT NULL CONSTRAINT DF_Prog_Porcentaje DEFAULT(0),
    Estado              varchar(20) NOT NULL,
    UltimaClaseVista    int NOT NULL,
    FechaUltimaActividad datetime NULL,
    FechaFinalizacion   datetime NULL,
    TiempoTotalMin      int NULL,
    CONSTRAINT PK_UsuarioxCurso PRIMARY KEY CLUSTERED (IdUsuario ASC, IdCurso ASC)
);
GO

/* ==== TABLA CursoPorDocente ==== */

IF OBJECT_ID('CursoPorDocente') IS NOT NULL DROP TABLE CursoPorDocente;
GO

CREATE TABLE dbo.CursoPorDocente(
    IdCurso   int NOT NULL,
    IdDocente int NOT NULL,
    CONSTRAINT PK_CursoPorDocente PRIMARY KEY CLUSTERED (IdCurso ASC, IdDocente ASC)
);
GO

/* ==== TABLA PagoDetalle ==== */

IF OBJECT_ID('PagoDetalle') IS NOT NULL DROP TABLE PagoDetalle;
GO

CREATE TABLE dbo.PagoDetalle(
    IdPagoDetalle int IDENTITY(1,1) NOT NULL,
    IdPago        int NOT NULL,
    Concepto      varchar(255) NOT NULL,
    Monto         decimal(10,2) NOT NULL,
    CONSTRAINT PK_PagoDetalle PRIMARY KEY CLUSTERED (IdPagoDetalle ASC)
);
GO

/* ==== RELACIONES (FOREIGN KEYS) ==== */

ALTER TABLE dbo.Curso
ADD CONSTRAINT FK_Curso_Categoria
FOREIGN KEY (IdCategoria) REFERENCES dbo.Categoria(IdCategoria);
GO

ALTER TABLE dbo.Modulo
ADD CONSTRAINT FK_Modulo_Curso
FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso);
GO

ALTER TABLE dbo.Clase
ADD CONSTRAINT FK_Clase_Modulo
FOREIGN KEY (IdModulo) REFERENCES dbo.Modulo(IdModulo);
GO

ALTER TABLE dbo.Docente
ADD CONSTRAINT FK_Docente_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario);
GO

ALTER TABLE dbo.Evaluacion
ADD CONSTRAINT FK_Evaluacion_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Evaluacion_Clase
    FOREIGN KEY (IdClase) REFERENCES dbo.Clase(IdClase);
GO

ALTER TABLE dbo.Inscripcion
ADD CONSTRAINT FK_Inscripcion_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Inscripcion_Curso
    FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso),
    CONSTRAINT FK_Inscripcion_Estado
    FOREIGN KEY (IdEstado) REFERENCES dbo.Estado(IdEstado);
GO

ALTER TABLE dbo.Pago
ADD CONSTRAINT FK_Pago_Inscripcion
FOREIGN KEY (IdInscripcion) REFERENCES dbo.Inscripcion(IdInscripcion),
    CONSTRAINT FK_Pago_Estado
    FOREIGN KEY (IdEstado) REFERENCES dbo.Estado(IdEstado);
GO

ALTER TABLE dbo.Progreso
ADD CONSTRAINT FK_Progreso_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Progreso_Curso
    FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso);
GO

ALTER TABLE dbo.Usuario
ADD CONSTRAINT FK_Usuario_Rol
FOREIGN KEY (IdRol) REFERENCES dbo.Rol(IdRol);
GO

ALTER TABLE dbo.CursoPorDocente
ADD CONSTRAINT FK_CursoPorDocente_Curso
FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso),
CONSTRAINT FK_CursoPorDocente_Docente
FOREIGN KEY (IdDocente) REFERENCES dbo.Docente(IdDocente);
GO


/* ==== OBJETOS DEL TPI - GESTION DE NOTAS Y APROBACION AUTOMATICA ==== */
GO

/* ==== VISTA: VW_NotasCursoAlumno ==== */

IF OBJECT_ID('dbo.VW_NotasCursoAlumno', 'V') IS NOT NULL
    DROP VIEW dbo.VW_NotasCursoAlumno;
GO

CREATE VIEW dbo.VW_NotasCursoAlumno
AS
WITH ClasesEvaluables AS (
    SELECT 
        m.IdCurso,
        c.IdClase
    FROM dbo.Modulo m
    JOIN dbo.Clase c ON c.IdModulo = m.IdModulo
    WHERE c.EsEvaluable = 1
),
NotasPorClase AS (
    SELECT
        i.IdUsuario,
        ce.IdCurso,
        ce.IdClase,
        e.IdEvaluacion,
        e.PuntajeObtenido,
        e.PuntajeMax,
        e.Aprobado,
        e.FechaRealizacion
    FROM dbo.Inscripcion i
    JOIN ClasesEvaluables ce
        ON ce.IdCurso = i.IdCurso
    LEFT JOIN dbo.Evaluacion e
        ON e.IdUsuario = i.IdUsuario
       AND e.IdClase   = ce.IdClase
)
SELECT
    u.IdUsuario,
    u.Nombre,
    u.Apellido,
    c.IdCurso,
    c.Titulo AS TituloCurso,
    COUNT(DISTINCT np.IdClase) AS CantEvaluacionesEsperadas,
    COUNT(DISTINCT CASE WHEN np.IdEvaluacion IS NOT NULL THEN np.IdClase END)
        AS CantEvaluacionesRealizadas,
    COUNT(DISTINCT CASE WHEN np.Aprobado = 1 THEN np.IdClase END)
        AS CantEvaluacionesAprobadas,
    CAST(
        CASE 
            WHEN COUNT(DISTINCT np.IdClase) = 0 THEN 0.0
            ELSE 100.0 * COUNT(DISTINCT CASE WHEN np.Aprobado = 1 THEN np.IdClase END)
                       / COUNT(DISTINCT np.IdClase)
        END AS decimal(5,2)
    ) AS PorcentajeEvaluacionesAprobadas,
    AVG(np.PuntajeObtenido) AS NotaPromedio,
    MIN(np.PuntajeObtenido) AS NotaMinima,
    MAX(np.PuntajeObtenido) AS NotaMaxima,
    MAX(np.FechaRealizacion) AS FechaUltimaEvaluacion,
    CASE
        WHEN COUNT(DISTINCT np.IdClase) = 0 THEN 'SIN NOTAS'
        WHEN COUNT(DISTINCT np.IdClase) > 0
             AND COUNT(DISTINCT np.IdClase)
                 = COUNT(DISTINCT CASE WHEN np.Aprobado = 1 THEN np.IdClase END)
             THEN 'CURSO APROBADO (POR NOTAS)'
        WHEN COUNT(DISTINCT CASE WHEN np.IdEvaluacion IS NOT NULL THEN np.IdClase END) = 0
             THEN 'SIN EVALUACIONES RENDIDAS'
        ELSE 'EN PROCESO'
    END AS EstadoNotasCurso
FROM NotasPorClase np
JOIN dbo.Usuario u ON u.IdUsuario = np.IdUsuario
JOIN dbo.Curso  c ON c.IdCurso    = np.IdCurso
GROUP BY
    u.IdUsuario, u.Nombre, u.Apellido,
    c.IdCurso, c.Titulo;
GO


/* ==== PROCEDIMIENTO ALMACENADO: SP_RegistrarCalificacionEvaluacion ==== */

IF OBJECT_ID('dbo.SP_RegistrarCalificacionEvaluacion', 'P') IS NOT NULL
    DROP PROCEDURE dbo.SP_RegistrarCalificacionEvaluacion;
GO

CREATE PROCEDURE dbo.SP_RegistrarCalificacionEvaluacion
(
    @IdUsuario         int,
    @IdClase           int,
    @PuntajeObtenido   float,
    @TiempoEmpleadoMin int          = NULL,
    @Observaciones     varchar(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @IdModulo         int,
        @IdCurso          int,
        @EsEvaluable      bit,
        @PuntajeAprob     float,
        @IdEvaluacion     int,
        @Aprobado         bit,
        @EstadoEvaluacion varchar(20);

    -- Validar usuario activo
    IF NOT EXISTS (
        SELECT 1
        FROM dbo.Usuario
        WHERE IdUsuario = @IdUsuario
          AND Activo = 1
    )
    BEGIN
        RAISERROR('El usuario no existe o no esta activo.', 16, 1);
        RETURN;
    END;

    -- Validar clase y que sea evaluable
    SELECT 
        @IdModulo    = IdModulo,
        @EsEvaluable = EsEvaluable
    FROM dbo.Clase
    WHERE IdClase = @IdClase;

    IF @IdModulo IS NULL
    BEGIN
        RAISERROR('La clase indicada no existe.', 16, 1);
        RETURN;
    END;

    IF @EsEvaluable = 0
    BEGIN
        RAISERROR('La clase indicada no es evaluable.', 16, 1);
        RETURN;
    END;

    -- Obtener el curso de la clase
    SELECT @IdCurso = IdCurso
    FROM dbo.Modulo
    WHERE IdModulo = @IdModulo;

    -- Validar inscripcion activa (no bloqueada)
    IF NOT EXISTS (
        SELECT 1
        FROM dbo.Inscripcion i
        WHERE i.IdUsuario = @IdUsuario
          AND i.IdCurso   = @IdCurso
          AND i.Bloqueado = 0
    )
    BEGIN
        RAISERROR('El usuario no posee una inscripcion activa al curso.', 16, 1);
        RETURN;
    END;

    -- Validar puntaje
    IF @PuntajeObtenido IS NULL OR @PuntajeObtenido < 0
    BEGIN
        RAISERROR('El puntaje obtenido es invalido.', 16, 1);
        RETURN;
    END;

    BEGIN TRY
        BEGIN TRAN;

        -- Verificar si ya existe una evaluacion para esa clase y alumno
        SELECT
            @IdEvaluacion = IdEvaluacion,
            @PuntajeAprob = PuntajeAprob
        FROM dbo.Evaluacion
        WHERE IdUsuario = @IdUsuario
          AND IdClase   = @IdClase;

        -- Si ya hay registro, no se permite otro intento
        IF @IdEvaluacion IS NOT NULL
        BEGIN
            RAISERROR(
                'La evaluacion de esta clase para este alumno ya fue rendida. Solo se permite un intento.',
                16, 1
            );
            ROLLBACK TRAN;
            RETURN;
        END;

        IF @PuntajeAprob IS NULL
            SET @PuntajeAprob = 6;  -- valor por defecto

        -- Calcular aprobado y estado
        SET @Aprobado = CASE WHEN @PuntajeObtenido >= @PuntajeAprob THEN 1 ELSE 0 END;
        SET @EstadoEvaluacion = CASE WHEN @Aprobado = 1 THEN 'APROBADA' ELSE 'REPROBADA' END;

        -- Insertar unica evaluacion
        INSERT INTO dbo.Evaluacion (
            IdUsuario,
            IdClase,
            Tipo,
            TituloEvaluacion,
            Descripcion,
            PuntajeMax,
            PuntajeObtenido,
            PuntajeAprob,
            Aprobado,
            FechaRealizacion,
            TiempoEmpleadoMin,
            Observaciones,
            Intentos,
            EstadoEvaluacion,
            CalificadoPor
        )
        VALUES (
            @IdUsuario,
            @IdClase,
            'ONLINE',
            'Evaluacion automatica de la clase',
            NULL,
            10,
            @PuntajeObtenido,
            @PuntajeAprob,
            @Aprobado,
            GETDATE(),
            @TiempoEmpleadoMin,
            @Observaciones,
            1,
            @EstadoEvaluacion,
            NULL
        );

        SET @IdEvaluacion = SCOPE_IDENTITY();

        COMMIT TRAN;

        -- Devolver resumen
        SELECT
            e.IdEvaluacion,
            e.IdUsuario,
            e.IdClase,
            e.PuntajeObtenido,
            e.PuntajeAprob,
            e.Aprobado,
            e.Intentos,
            e.EstadoEvaluacion,
            e.FechaRealizacion
        FROM dbo.Evaluacion e
        WHERE e.IdEvaluacion = @IdEvaluacion;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE 
            @ErrorMessage nvarchar(4000),
            @ErrorSeverity int,
            @ErrorState    int;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState    = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO


/* ==== TRIGGER: TR_Evaluacion_ActualizarEstadoCursoAprobado ==== */

IF OBJECT_ID('dbo.TR_Evaluacion_ActualizarEstadoCursoAprobado', 'TR') IS NOT NULL
    DROP TRIGGER dbo.TR_Evaluacion_ActualizarEstadoCursoAprobado;
GO

CREATE TRIGGER dbo.TR_Evaluacion_ActualizarEstadoCursoAprobado
ON dbo.Evaluacion
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoCursoAprobado int;

    -- Estado de inscripcion aprobado configurado en la tabla Estado
    SELECT TOP (1) @IdEstadoCursoAprobado = IdEstado
    FROM dbo.Estado
    WHERE Tipo     = 'INSCRIPCION'
      AND Situacion IN ('APROBADO', 'CURSO APROBADO')
    ORDER BY IdEstado;

    IF @IdEstadoCursoAprobado IS NULL
        RETURN;

    ;WITH Afectados AS (
        SELECT DISTINCT
            e.IdUsuario,
            m.IdCurso
        FROM inserted i
        JOIN dbo.Evaluacion e ON e.IdEvaluacion = i.IdEvaluacion
        JOIN dbo.Clase      c ON c.IdClase      = e.IdClase
        JOIN dbo.Modulo     m ON m.IdModulo     = c.IdModulo
    ),
    Estadisticas AS (
        SELECT
            a.IdUsuario,
            a.IdCurso,
            COUNT(DISTINCT CASE WHEN c.EsEvaluable = 1 THEN c.IdClase END)
                AS TotalClasesEvaluables,
            COUNT(DISTINCT CASE WHEN c.EsEvaluable = 1 AND ev.Aprobado = 1 THEN c.IdClase END)
                AS ClasesAprobadas
        FROM Afectados a
        JOIN dbo.Modulo m ON m.IdCurso  = a.IdCurso
        JOIN dbo.Clase  c ON c.IdModulo = m.IdModulo
        LEFT JOIN dbo.Evaluacion ev
            ON ev.IdUsuario = a.IdUsuario
           AND ev.IdClase   = c.IdClase
        GROUP BY
            a.IdUsuario,
            a.IdCurso
    )
    UPDATE i
    SET i.IdEstado = @IdEstadoCursoAprobado
    FROM dbo.Inscripcion i
    JOIN Estadisticas e
      ON e.IdUsuario = i.IdUsuario
     AND e.IdCurso   = i.IdCurso
    WHERE e.TotalClasesEvaluables > 0
      AND e.ClasesAprobadas = e.TotalClasesEvaluables
      AND i.IdEstado <> @IdEstadoCursoAprobado;
END;
GO
