/* ==== CREAR / USAR BASE DE DATOS ==== */

USE master;
GO

IF DB_ID('BD2_TPI_G26') IS NULL
BEGIN
    CREATE DATABASE BD2_TPI_G26;
END;
GO

USE BD2_TPI_G26;
GO

/* ==== TABLA Categoria ==== */

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

IF OBJECT_ID('Categoria') IS NOT NULL DROP TABLE Categoria;
GO

CREATE TABLE dbo.Categoria(
    IdCategoria        int IDENTITY(1,1) NOT NULL,
    Nombre             varchar(150) NOT NULL,
    Descripcion        varchar(500) NULL,
    ImagenPortadaUrl   varchar(500) NULL,
    Activo             bit NOT NULL CONSTRAINT DF_Categoria_Activo DEFAULT(1),
    FechaCreacion      datetime NOT NULL CONSTRAINT DF_Categoria_FechaCreacion DEFAULT(GETDATE()),
    CONSTRAINT PK_Categoria PRIMARY KEY CLUSTERED (IdCategoria ASC)
);
GO

/* ==== TABLA Rol ==== */

IF OBJECT_ID('Rol') IS NOT NULL DROP TABLE Rol;
GO

CREATE TABLE dbo.Rol(
    IdRol             smallint NOT NULL,
    Nombre            varchar(50) NOT NULL,
    Descripcion       varchar(300) NULL,
    NivelAcceso       smallint NOT NULL CONSTRAINT DF_Rol_NivelAcceso DEFAULT(1),
    AdministrarCursos bit NOT NULL CONSTRAINT DF_Rol_Admin DEFAULT(0),
    GestionarUsuarios bit NOT NULL CONSTRAINT DF_Rol_Gestion DEFAULT(0),
    CorregirEvaluaciones bit NOT NULL CONSTRAINT DF_Rol_Corregir DEFAULT(0),
    VerReportes       bit NOT NULL CONSTRAINT DF_Rol_Reportes DEFAULT(0),
    CONSTRAINT PK_Rol PRIMARY KEY CLUSTERED (IdRol ASC),
    CONSTRAINT UQ_Rol_Nombre UNIQUE (Nombre)
);
GO

/* ==== TABLA Usuario ==== */

IF OBJECT_ID('Usuario') IS NOT NULL DROP TABLE Usuario;
GO

CREATE TABLE dbo.Usuario(
    IdUsuario        int IDENTITY(1,1) NOT NULL,
    IdRol            smallint NOT NULL,
    Nombre           varchar(120) NOT NULL,
    Apellido         varchar(120) NOT NULL,
    Email            varchar(255) NOT NULL,
    [Contraseña]     varchar(255) NULL,
    FotoPerfil       varchar(500) NULL,
    Documento        varchar(20) NULL,
    Telefono         varchar(30) NULL,
    Ciudad           varchar(80) NULL,
    Pais             varchar(80) NULL,
    FechaNacimiento  date NULL,
    Activo           bit NOT NULL CONSTRAINT DF_Usuario_Activo DEFAULT(1),
    CONSTRAINT PK_Usuario PRIMARY KEY CLUSTERED (IdUsuario ASC),
    CONSTRAINT UQ_Usuario_Email UNIQUE (Email)
);
GO

/* ==== TABLA Docente ==== */

IF OBJECT_ID('Docente') IS NOT NULL DROP TABLE Docente;
GO

CREATE TABLE dbo.Docente(
    IdDocente      int IDENTITY(1,1) NOT NULL,
    IdUsuario      int NOT NULL,
    Biografia      varchar(1000) NULL,
    Especialidad   varchar(200) NULL,
    ExperienciaAnos int NULL,
    CONSTRAINT PK_Docente PRIMARY KEY CLUSTERED (IdDocente ASC)
);
GO

/* ==== TABLA Estado ==== */

IF OBJECT_ID('Estado') IS NOT NULL DROP TABLE Estado;
GO

CREATE TABLE dbo.Estado(
    IdEstado     int IDENTITY(1,1) NOT NULL,
    Tipo         varchar(30) NOT NULL,
    Situacion    varchar(30) NOT NULL,
    Descripcion  varchar(100) NULL,
    CONSTRAINT PK_Estado PRIMARY KEY CLUSTERED (IdEstado ASC)
);
GO

/* ==== TABLA Curso ==== */

IF OBJECT_ID('Curso') IS NOT NULL DROP TABLE Curso;
GO

CREATE TABLE dbo.Curso(
    IdCurso                int IDENTITY(1,1) NOT NULL,
    Codigo                 varchar(30) NULL,
    Titulo                 varchar(255) NOT NULL,
    Descripcion            text NULL,
    Objetivos              text NULL,
    Nivel                  varchar(20) NOT NULL,
    Idioma                 varchar(30) NOT NULL,
    RequisitosPrevios      text NULL,
    DuracionHoras          int NULL,
    FechaInicio            date NOT NULL,
    FechaFin               date NOT NULL,
    Modalidad              varchar(20) NOT NULL,
    CupoMaximo             int NULL,
    Precio                 decimal(10, 2) NOT NULL,
    Moneda                 char(3) NOT NULL,
    RequierePago           bit NOT NULL CONSTRAINT DF_Curso_RequierePago DEFAULT(0),
    Publicado              bit NOT NULL CONSTRAINT DF_Curso_Publicado DEFAULT(0),
    ImagenPortadaUrl       varchar(500) NULL,
    CertificadoDisponible  bit NOT NULL CONSTRAINT DF_Curso_Certificado DEFAULT(0),
    IdCategoria            int NOT NULL,
    CONSTRAINT PK_Curso PRIMARY KEY CLUSTERED (IdCurso ASC)
);
GO

/* ==== TABLA Modulo ==== */

IF OBJECT_ID('Modulo') IS NOT NULL DROP TABLE Modulo;
GO

CREATE TABLE dbo.Modulo(
    IdModulo   int IDENTITY(1,1) NOT NULL,
    IdCurso    int NOT NULL,
    Titulo     varchar(255) NOT NULL,
    Orden      smallint NOT NULL,
    Resumen    varchar(500) NULL,
    Objetivos  text NULL,
    CONSTRAINT PK_Modulo PRIMARY KEY CLUSTERED (IdModulo ASC)
);
GO

/* ==== TABLA Clase ==== */

IF OBJECT_ID('Clase') IS NOT NULL DROP TABLE Clase;
GO

CREATE TABLE dbo.Clase(
    IdClase                  int IDENTITY(1,1) NOT NULL,
    IdModulo                 int NOT NULL,
    Titulo                   varchar(255) NOT NULL,
    Orden                    smallint NOT NULL,
    TipoContenido            varchar(30) NOT NULL,
    DuracionMin              int NULL,
    RecursoUrl               varchar(500) NULL,
    MaterialDescargableUrl   varchar(500) NULL,
    FechaPublicacion         datetime NULL,
    EsEvaluable              bit NOT NULL CONSTRAINT DF_Clase_EsEvaluable DEFAULT(0),
    RequiereAprobacionPrevia bit NOT NULL CONSTRAINT DF_Clase_ReqAprob DEFAULT(0),
    CONSTRAINT PK_Clase PRIMARY KEY CLUSTERED (IdClase ASC)
);
GO

/* ==== TABLA Evaluacion ==== */

IF OBJECT_ID('Evaluacion') IS NOT NULL DROP TABLE Evaluacion;
GO

CREATE TABLE dbo.Evaluacion(
    IdEvaluacion       int IDENTITY(1,1) NOT NULL,
    IdUsuario          int NOT NULL,
    IdClase            int NOT NULL,
    Tipo               varchar(30) NOT NULL,
    TituloEvaluacion   varchar(255) NOT NULL,
    Descripcion        text NULL,
    PuntajeMax         float NOT NULL CONSTRAINT DF_Eval_PuntajeMax DEFAULT(10),
    PuntajeObtenido    float NULL,
    PuntajeAprob       float NOT NULL CONSTRAINT DF_Eval_PuntajeAprob DEFAULT(6),
    Aprobado           bit NULL,
    FechaRealizacion   datetime NULL,
    TiempoEmpleadoMin  int NULL,
    Observaciones      text NULL,
    Intentos           smallint NULL CONSTRAINT DF_Eval_Intentos DEFAULT(1),
    EstadoEvaluacion   varchar(20) NOT NULL,
    CalificadoPor      int NULL,
    CONSTRAINT PK_Evaluacion PRIMARY KEY CLUSTERED (IdEvaluacion ASC)
);
GO

/* ==== TABLA Inscripcion ==== */

IF OBJECT_ID('Inscripcion') IS NOT NULL DROP TABLE Inscripcion;
GO

CREATE TABLE dbo.Inscripcion(
    IdInscripcion    int IDENTITY(1,1) NOT NULL,
    IdUsuario        int NOT NULL,
    IdCurso          int NOT NULL,
    IdEstado         int NOT NULL,
    Bloqueado        bit NOT NULL CONSTRAINT DF_Inscripcion_Bloqueado DEFAULT(0),
    FechaInscripcion datetime NULL,
    Origen           varchar(20) NOT NULL,
    Observaciones    varchar(300) NULL,
    FechaFinAcceso   date NULL,
    CertificadoUrl   varchar(500) NULL,
    CONSTRAINT PK_Inscripcion PRIMARY KEY CLUSTERED (IdInscripcion ASC)
);
GO

/* ==== TABLA Pago ==== */

IF OBJECT_ID('Pago') IS NOT NULL DROP TABLE Pago;
GO

CREATE TABLE dbo.Pago(
    IdPago            int IDENTITY(1,1) NOT NULL,
    IdInscripcion     int NOT NULL,
    IdEstado          int NOT NULL,
    FechaPago         datetime NOT NULL CONSTRAINT DF_Pago_Fecha DEFAULT(GETDATE()),
    Monto             decimal(10,2) NOT NULL,
    Moneda            char(3) NOT NULL,
    MedioPago         varchar(50) NOT NULL,
    CodigoTransaccion varchar(100) NULL,
    Aprobado          bit NOT NULL CONSTRAINT DF_Pago_Aprobado DEFAULT(0),
    CONSTRAINT PK_Pago PRIMARY KEY CLUSTERED (IdPago ASC)
);
GO

/* ==== TABLA Progreso ==== */

IF OBJECT_ID('Progreso') IS NOT NULL DROP TABLE Progreso;
GO

CREATE TABLE dbo.Progreso(
    IdUsuario           int NOT NULL,
    IdCurso             int NOT NULL,
    ClasesCompletadas   int NOT NULL CONSTRAINT DF_Prog_ClasesComp DEFAULT(0),
    TotalClases         int NOT NULL CONSTRAINT DF_Prog_TotalClases DEFAULT(0),
    Porcentaje          int NOT NULL CONSTRAINT DF_Prog_Porcentaje DEFAULT(0),
    Estado              varchar(20) NOT NULL,
    UltimaClaseVista    int NOT NULL,
    FechaUltimaActividad datetime NULL,
    FechaFinalizacion   datetime NULL,
    TiempoTotalMin      int NULL,
    CONSTRAINT PK_UsuarioxCurso PRIMARY KEY CLUSTERED (IdUsuario ASC, IdCurso ASC)
);
GO

/* ==== TABLA CursoPorDocente ==== */

IF OBJECT_ID('CursoPorDocente') IS NOT NULL DROP TABLE CursoPorDocente;
GO

CREATE TABLE dbo.CursoPorDocente(
    IdCurso   int NOT NULL,
    IdDocente int NOT NULL,
    CONSTRAINT PK_CursoPorDocente PRIMARY KEY CLUSTERED (IdCurso ASC, IdDocente ASC)
);
GO

/* ==== TABLA PagoDetalle ==== */

IF OBJECT_ID('PagoDetalle') IS NOT NULL DROP TABLE PagoDetalle;
GO

CREATE TABLE dbo.PagoDetalle(
    IdPagoDetalle int IDENTITY(1,1) NOT NULL,
    IdPago        int NOT NULL,
    Concepto      varchar(255) NOT NULL,
    Monto         decimal(10,2) NOT NULL,
    CONSTRAINT PK_PagoDetalle PRIMARY KEY CLUSTERED (IdPagoDetalle ASC)
);
GO

/* ==== RELACIONES (FOREIGN KEYS) ==== */

ALTER TABLE dbo.Curso
ADD CONSTRAINT FK_Curso_Categoria
FOREIGN KEY (IdCategoria) REFERENCES dbo.Categoria(IdCategoria);
GO

ALTER TABLE dbo.Modulo
ADD CONSTRAINT FK_Modulo_Curso
FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso);
GO

ALTER TABLE dbo.Clase
ADD CONSTRAINT FK_Clase_Modulo
FOREIGN KEY (IdModulo) REFERENCES dbo.Modulo(IdModulo);
GO

ALTER TABLE dbo.Docente
ADD CONSTRAINT FK_Docente_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario);
GO

ALTER TABLE dbo.Evaluacion
ADD CONSTRAINT FK_Evaluacion_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Evaluacion_Clase
    FOREIGN KEY (IdClase) REFERENCES dbo.Clase(IdClase);
GO

ALTER TABLE dbo.Inscripcion
ADD CONSTRAINT FK_Inscripcion_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Inscripcion_Curso
    FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso),
    CONSTRAINT FK_Inscripcion_Estado
    FOREIGN KEY (IdEstado) REFERENCES dbo.Estado(IdEstado);
GO

ALTER TABLE dbo.Pago
ADD CONSTRAINT FK_Pago_Inscripcion
FOREIGN KEY (IdInscripcion) REFERENCES dbo.Inscripcion(IdInscripcion),
    CONSTRAINT FK_Pago_Estado
    FOREIGN KEY (IdEstado) REFERENCES dbo.Estado(IdEstado);
GO

ALTER TABLE dbo.Progreso
ADD CONSTRAINT FK_Progreso_Usuario
FOREIGN KEY (IdUsuario) REFERENCES dbo.Usuario(IdUsuario),
    CONSTRAINT FK_Progreso_Curso
    FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso);
GO

ALTER TABLE dbo.Usuario
ADD CONSTRAINT FK_Usuario_Rol
FOREIGN KEY (IdRol) REFERENCES dbo.Rol(IdRol);
GO

ALTER TABLE dbo.CursoPorDocente
ADD CONSTRAINT FK_CursoPorDocente_Curso
FOREIGN KEY (IdCurso) REFERENCES dbo.Curso(IdCurso),
CONSTRAINT FK_CursoPorDocente_Docente
FOREIGN KEY (IdDocente) REFERENCES dbo.Docente(IdDocente);
GO
